#components-layout-trigger .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

#components-layout-trigger .trigger:hover {
  color: #1890ff;
}

#components-layout-trigger .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.site-layout .site-layout-background {
  background: #fff;
}

.site-layout .site-content{
  margin: 24px 16px;
  padding: 24px;
  min-height: 280px;
}

.wrapper{
  height: 100%;
}

.ant-layout {
  .ant-layout-content{
    margin: 24px auto;
  }
}

.container{
  width: 1170px;
}