._5bvi{padding:15px 16px}._5bxh{height:6px}._5bxi._5bxi{background-color:#fff;border-radius:3px;height:6px;margin-top:-3px;width:6px}._2a_g ._5bxi._5bxi{background-color:#1c1e21}

#bootloader_Utp_N{height:42px;}.bootloader_Utp_N{display:block!important;}