._3c5y{margin:0 8px}._3c5x{background:#3578e5;border-radius:18px;box-shadow:rgba(0, 0, 0, .22) 0 1px 3px;box-sizing:border-box;color:#fff;display:inline-block;max-width:100%;text-align:center}._2a_g ._3c5x{background:#fff;color:#1c1e21}

#bootloader_oiP6l{height:42px;}.bootloader_oiP6l{display:block!important;}